<main class="interface">
  <div id="main-header">
    <img id="main-logo" src="https://onepage.dropagence.fr/game/bm/img/logo-bm.png">
    <div id="main-player">
      <h2>Ilyes</h2>
      <div class="main-player-menu">
        <img src="https://onepage.dropagence.fr/game/bm/img/static/ilyes.jpg">
        <div class="circle-btn"></div>
        <div class="circle-btn"></div>
      </div>
    </div>
  </div>
  <div id="main-container" class="monster-block">

    <div id="main-container-items">

      <div id="main-content" class="profil">
        <div class="main-separation">
          <div class="gauche">
          <h2><%= @user.name %></h2>
            <div class="user-info-icon">
              <div class="user-info">
                  <p><%= @user.pc %> Pc</p>
                  <p><%= Deck.where(user_id: @user).count %> Matchs</p>
                  <p><%= Battle.where(winner_id: @user).count %> Victoires</p>
              </div>
                <div class="icon-info">
                <img src="https://onepage.dropagence.fr/game/bm/img/static/kit/pog.png" width=50px alt="">
                <img src="https://onepage.dropagence.fr/game/bm/img/static/kit/battle.png" width=40px alt="">
                <img src="https://onepage.dropagence.fr/game/bm/img/static/kit/medal.png" width=40px alt="">
                </div>
            </div>
              <div class="monstre-profil">
              <p><%=  %></p>
                <h3><%= @user.monsters.first.name %></h3>
                <p><%= @user.monsters.first.specie.name %></p>
                <p><%= @user.monsters.first.xp %></p>
              </div>
          </div>
            <div id="droite">
              <div class="derniere-victoire">
                <h2>Dernier combat victoire! <img src="https://onepage.dropagence.fr/game/bm/img/static/kit/medal.png" alt=""></h2>
                <div class="victoire-contre">
                  <p>Vous avez gagné contre <%= User.find(Battle.last.winner_id).name %></p>
                </div>
              </div>
            </div>
        </div>
      </div>

      <div id="main-controls">
        <div class="circle-btn"></div>
        <% if @user == current_user %>
          <div class="large-btn"><h3>EDIT</h3></div>
        <% end %>
      </div>

    </div>

  </div>
</main>
